<header class="">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="/" class="-m-1.5 p-1.5">
        <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
      </a>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-white">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="/products" class="text-sm font-semibold leading-6 text-white">Products</a>
      <a href="#" class="text-sm font-semibold leading-6 text-white">Features</a>
      <a href="/Marketplace" class="text-sm font-semibold leading-6 text-white">Marketplace</a>
      <a href="#" class="text-sm font-semibold leading-6 text-white">Company</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <% if (!user) { %>
        <a href="/login"class="text-sm font-semibold leading-6 text-white">Log in <span aria-hidden="true">&rarr;</span></a>
      <% } else { %>
        <div class="relative">
          <div class="flex gap-1 items-center text-white cursor-pointer" id="logDrop">
            <span class="h-5 w-5 block bg-slate-50 rounded-full"></span>
            <span aria-hidden="true" class="mt-[-2px]">&rarr;</span>
          </div>
          <div class="hidden bg-zinc-700 px-8 py-5 rounded-md absolute z-10 top-[30px] -right-2" id="logDropMenu">
            <a href="/profile" class="text-sm font-semibold leading-7 text-white">Profile</a>
            <a href="/logout" class=" text-sm font-semibold leading-7 text-white whitespace-nowrap" 
            >logout <span aria-hidden="true">&rarr;</span></a>
          </div>
          
        </div>
      <% } %>
    </div>
  </nav>
</header>
