<div class="">
    <div class="flex overflow-x-auto h-[500px] overflow-hidden ">
        <img src="/assets/3d6170a162644f29b5695d5bad02adbf.png" alt="" class="min-w-[100vw]">
        <img src="/assets/anime-dbt18qjb7b1cstr1.jpg" alt="" class="min-w-[100vw]">
        <img src="/assets/demon-slayer-kimetsu-3840x2160.jpg" alt="" class="min-w-[100vw]">
        <img src="/assets/super-saiyan-goku-ultra-instinct-thumb.jpg" alt="" class="min-w-[100vw]">
        <img src="/assets/thumb-1920-1331367.png" alt="" class="min-w-[100vw]">
        <img src="/assets/wallpapersden.com_demon-hd-dark-angel-2023_1920x1080.jpg" alt="" class="min-w-[100vw]">
    </div>
</div>