<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <title>
    <%= title %>
  </title>
</head>

<body class="bg-zinc-800">
  <%- include('../partials/header') %>
  <main>
    <%- include(body) %> <!-- Include the content dynamically -->
  </main>
  <%- include('../partials/footer') %>
  <script src="/js/home.js"></script>
  <script src="/js/partials.js"></script>

</body>

</html>